// Define variables for your color scheme

// For example:
$orange: #F3B88A;
$green-blue: #4EC1C2;





$green: #ABE6C1;
$gray: #3B3B33;
$light-gray: #A4A5A2;
$cream: #F3E6D5;
$brown: #B5723A;
$yellow: #FDE96B;
$red: #FD1015;
$blue: #167FFB;
