/* --- Fonts style --- */

h1, h2 {
  font-family: $headers-font;
}

h3, h4, p, a {
  font-family: $body-font;
}

body {
  background-color: #ffff;
}

/* --- CTA --- */

.flex-hero {
  display: flex;
  justify-content: space-between;
}

.home-title {
  font-size: 52px;
}

.cta {
  background-image: asset-url('hero_bg.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: black;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  background-position: center;
}

.cta > h1 {
  margin-top: 50px;
  margin-left: 160px;
}

/* --- Search bar --- */

.left-section .flexsearch {
  width: 80%;
}

.flexsearch {
  display: flex;
}

.searchbar {
  //justify-content: space-between;
  display: flex;
  flex-direction: row;
  //flex-grow: 1 !important;
  width: 100%;
}

.search-bar-input {
  background-color: rgba(171, 230, 193, 0.4);
  border: 1px solid black;
  flex-grow: 0.6;
  border-radius: 10px;
  padding: 20px;
  margin-right: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.search-bar-btn {
  background-color: rgba(171, 230, 193, 0.4);
  border: 1px solid black;
  flex-grow: 0.3;
  border-radius: 10px;
  padding: 20px;
  border-radius: 10px;
}

.left-section .search_query {
  flex-grow: 1 !important;
}

#search_query {
  min-height: 60px;
  border-radius: 6px 0 0 6px;
}

.searchicon {
  width: 60px;
  height: 60px;
  border-radius: 0 6px 6px 0;
  border: none;
}

/* --- Infographic --- */

.container-info {
  width: 80%;
  margin: 0 auto;
}

.flex-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-area {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

.area {
  height: auto;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.flex-basis-fifty {
  display: flex;
  flex-basis: 50%;
  position: relative;
}

.left-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
}

.logo-size {
  width: auto;
  height: 45px;
  // padding-left: 20px;
}

.logo-position {
  padding-left: 70px;
  padding-top: 15px;
}

.top-margin {
  margin-top: 35px;
}

.left-margin {
  margin-left: 80px;
}

#homepage .left-margin {
  margin-left: 75px;
}

.right-margin {
  margin-right: 80px;
}


.slight-right-margin {
  margin-right: 15px;
}

.abs-pos-margin {
  position: absolute;
  padding: 36px 0 0 25px;
  margin-left: 40px;
  max-height: 100vh;
  overflow: hidden;
}

#homepage .grid-card-products {
  margin-right: -150px;
}

#homepage .products-card-detail {
  padding: 5px;
}

#homepage .products-card-detail p {
  width: 80%;
  font-size: 14px;
}

#homepage .row {
  margin-top: 0px;
}

#homepage .index-card-products {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 18px;
}

.extra-padding {
  padding-top: 26px;
}

.letter-space {
  letter-spacing: 1.5px;
}

#homepage .product-card-infos {
  display: flex;
  flex-direction: column;
  padding: 0 12px 0 12px;

  .producer-card-name {
    margin-bottom: 0 !important;
  }

  p:last-of-type {
    opacity: 0.6;
  }

  p {
    margin-bottom: 6px !important;
    font-size: 12px;
  }
}

.orange {
  color: $orange
}
// .typewriter {

//   overflow: hidden; /* Ensures the content is not revealed until the animation */
//   //border-right: .15em solid orange; /* The typwriter cursor */
//   white-space: nowrap; /* Keeps the content on a single line */
//   //margin: 0 auto; /* Gives that scrolling effect as the typing happens */
//   letter-spacing: .15em; /* Adjust as needed */
//   animation:
//     typing 3.5s steps(70, end),
//     //blink-caret .5s step-end infinite;
// }

// /* The typing effect */
// @keyframes typing {
//   from { width: 0 }
//   to { width: 100% }
// }

/* The typewriter cursor effect */
// @keyframes blink-caret {
//   from, to { border-color: transparent }
//   80% { border-color: black }
// }
