/* --- Fonts style --- */

h1, h2 {
  font-family: $headers-font;
}

h3, h4, p, a {
  font-family: $body-font;
}

body {
  background-color: #ffff;
}

/* --- CTA --- */

.container-hero {
  // width: 100%;
  // margin-top: 0;
}

.flex-hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cta {
  background-image: asset-url('hero_bg.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: black;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  background-position: center;
}

.cta > h1 {
    margin-top: 50px;
    margin-left: 160px;
}

/* --- Search bar --- */

.flexsearch {
  display: flex;
  justify-content: space-between;
}

.search-bar-input {
  background-color: rgba(171, 230, 193, 0.4);
  border: 1px solid black;
  flex-grow: 0.6;
  border-radius: 10px;
  padding: 20px;
  margin-right: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.search-bar-btn {
  background-color: rgba(171, 230, 193, 0.4);
  border: 1px solid black;
  flex-grow: 0.3;
  border-radius: 10px;
  padding: 20px;
  border-radius: 10px;
}

/* --- Infographic --- */

.container-info {
  width: 80%;
  margin: 0 auto;
}

.flex-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-area {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

.area {
  height: auto;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.flex-basis-fifty {
  display: flex;
  flex-basis: 50%;
}

.left-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
}
// .typewriter {

//   overflow: hidden; /* Ensures the content is not revealed until the animation */
//   //border-right: .15em solid orange; /* The typwriter cursor */
//   white-space: nowrap; /* Keeps the content on a single line */
//   //margin: 0 auto; /* Gives that scrolling effect as the typing happens */
//   letter-spacing: .15em; /* Adjust as needed */
//   animation:
//     typing 3.5s steps(70, end),
//     //blink-caret .5s step-end infinite;
// }

// /* The typing effect */
// @keyframes typing {
//   from { width: 0 }
//   to { width: 100% }
// }

/* The typewriter cursor effect */
// @keyframes blink-caret {
//   from, to { border-color: transparent }
//   80% { border-color: black }
// }
