// Import page-specific CSS files here.
@import "home";

// Cards.

.products-image {
  height: 170px;
  width: 170px;
}


// Flex box.

.container-card-products {
  display: flex;
}

.grid-card-products {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.copy-card-products {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.card-link {
  text-decoration: none !important;
}



// Map.

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}
