// Import page-specific CSS files here.
@import "home";

.main-container {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#map {
  position: sticky;
  top: 0;
  padding-bottom: 10px;
  width: 50%;
  margin-right: 20px;
}

.card-trip-index {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  border-radius: 10px;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  height: 670px;
  background-size: cover;
}

.card-trip-index img {
  width: 100%;
}


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  border-radius: 10px;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 16px;

}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip .card-trip-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

