.card {
  background: #f3e6d5;
  border-radius: 33px;
  width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
}

.card img{
  width: 100%;
}
.m-container{display:grid;
  grid-template-columns: 2fr 2fr;
  grid-gap:16px;
  margin-left: 67px;
  margin-top: 40px;
}
.card-description{
  background: #f3e6d5;
  padding: 15px;
  border-radius: 33px;
  width: 500px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.form-button{
  background: #f3e6d5;
  padding: 15px;
  border-radius: 33px;
  width: 500px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
.image-resize {
  height: 300px;
  width: 100%;
}
.text {
  padding: 15px;
}
.top-margin {
  top: 20px;
}
.flex-edit {
  align-items: center;
  img { width: 300px;}
}
.card-boat{
  background: white;
  padding: 15px;
  border-radius: 33px;
  width: 449px;
  margin: 0 auto;
}
.cart {
  width: 100%;
}


//  button order show page

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: grey;
  padding: 8px 24px;
  border-radius: 4px;
  background: #abe6c1;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}
