.card {
  background: white;
  padding: 15px;
  border-radius: 33px;
  width: 1000px;
  margin: 0 auto;
}
.image-resize {
  height: 300px;
  width: 100%;
}
.text {
  padding: 15px;
}
.top-margin {
  top: 20px;
}
.flex-edit {
  align-items: center;
  img { width: 300px;}
}
.card-boat{
  background: white;
  padding: 15px;
  border-radius: 33px;
  width: 449px;
  margin: 0 auto;
}
.cart {
  width: 100%;
}
