.header-show-page {
  padding-left: 70px;
  margin: 30px;
}

.product-card-container-show-page {
  display: flex;
  justify-content: center;
}

.card {
  width: 90%;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

.container-image-product {
  display: flex;
  justify-content: center;
}

.product-image {
  height: 380px;
  width: auto;
}

.description-product-card-container-show-page {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: baseline;
  padding-top: 50px;
  margin-left: 35px;
  margin-right: 20px;
}

.card-description {
  border: 1px solid black;
  padding: 50px;
  flex-grow: 0.7;
  margin-right: 100px;
}

.reviews {
    border: 1px solid black;
    margin-left: 100px;
    margin-top: 50px;
    width: 90%;
    margin-bottom: 50px;
    padding: 30px;
}

.btn {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    width: 200px;
}

.btn:hover {
    padding: 10px 15px;
    width: 200px;
    text-decoration: none;
    color: white;
}
