<!--Navbar-->
    <nav id="navbar-complete" class="navbar navbar-light amber lighten-4">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="/"><%= image_tag "logo.png", class:"area" %></a>
      <!-- Collapse button -->
      <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
        aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
        <div class="animated-icon1"><span></span><span></span><span></span></div>
      </button>

      <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent20">

        <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Farmer <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign in</a>
            </li>
          </ul>
        </div>
    </nav>
