<h1>Your orders</h1>


  <% if @orders.first.present? %>
    <% @orders.each do |order|%>
      <p><%= order.created_at.localtime.strftime("%b %e") %></p>
      <p><%= order.status%></p>
      <p>Your order nr: <%= order.id %></p>
      <% if order.status == "delivered" %>
        <%= link_to "Write a Review", new_order_review_path(order.id), class: "btn-show-orders-page" %>
      <% end %>
    <%end %>
  <%end %>

  <!-- link button-> form ->create THEN RAISE

