<h1>FarMe</h1>
<p></p>

<%= simple_form_for :search, url: products_path, method: :get do |f| %>
    <%= f.input :query, label: false, placeholder: "Find a product" %>
    <%= f.submit "Search" %>
<% end %>

