<div class="container-hero">
  <div class="flex-hero">
    <div class="cta">
      <div class="flex-direction-row">
        <div class="flex-basis-fifty">
          <%= image_tag "logo.png", class:"logo-size" %>
          <div class="left-section">
            <h1>Meet the farmers around you!</h1>
            <p>Tell us where you are and we will introduce you to the amazing food producers around you</p>
            <div class="search-bar-container">
              <div class="search-bar-input">
                <%= simple_form_for :search, html: { class: "flexsearch"}, url: products_path, method: :get do |f| %>
                <%= f.input :query, label: false, placeholder: "Find a product" %>
                <%= f.submit "Search" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-basis-fifty">
          farmers producers
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container-info">
  <div class="flex-card">
    <div class="card-area">
      <%#= image_tag "icon_area.png", class:"area" %>
      <h2>Find your area</h2>
    </div>

    <div class="card-area">
      <%#= image_tag "icon_products.png", class:"area" %>
      <h2>Choose your product</h2>
    </div>

    <div class="card-area">
      <%#= image_tag "icon_door.png", class:"area" %>
      <h2>Open your door</h2>
    </div>

  </div>
</div> -->
