/* --- Footer --- */

.container-footer {
  height: 65px;
  display: flex;
  background-color: #3B3B33;
  justify-content: center;
  align-items: center;
}

 img {
  width: 160px;
  height: 35px;
}

.flex-logo {
  display: flex;
}
