<h1>Your results</h1>

<div>
<% if @products.first.present? %>
<% @products.each do |product|%>
  <div>
 <!-- <%#if boat.photo.attached? %>
   <%#= cl_image_tag boat.photo.key %>
<%#end %> -->
    <div>
      <div>
        <h2> <%= product.name %></h2>
        <p> <%= product.detail %></p>
      </div>
      <h2>€ <%= product.price %></h2>
    </div>
    <%= link_to "", product_path(product), class: "card-link" %>
  </div>
<% end %>
<% else %>
  <h3>NO PRODUCTS FOUND AT THIS LOCATION</h3>
<% end %>
</div>
